@page
@model IndexModel
@{
	ViewData["Title"] = "Главная страница";
}

<div class="row row-cols-1 row-cols-md-2 g-4">
	@foreach (var product in Model._productDAL.GetAllProducts())
	{    
				<a asp-page="ProductPage" class="page-link" asp-route-id="@product.Id">
					<div class="hover-card">
					  <div class="col">
					<div class="mb-3" style="max-width: 540px;">
					  <div class="row g-0;">
						<div class="col-md-4">
						  <img src="@Config.IMAGEHOSTING@product.ImageLink" class="img-fluid rounded-start" alt="..." style="height:300px; padding: 10px;" >
						</div>
						
						<div class="col-md-8">
						  <div class="card-body">
							<h5 class="card-title">@product.Name</h5>
							<p class="card-text">@product.Description</p>
							<p class="card-text"><small class="text-body-secondary"><b>Цена - @product.Price</b></small></p>
						  </div>
						</div>
					  </div>
					</div>
					  </div>
					</div>
				</a>
	}
</div>