@page
@model ProductSite.Pages.ProductPageModel
@{

}
<head>
	<link rel="stylesheet" href="~/css/ProductPageStyle.css" />
</head>
<body>
	<div class="parent">
		<div class="div1">
			<img src="@Config.IMAGEHOSTING@Model.product.ImageLink" class="img-fluid rounded-start" alt="..." style="height:300px; padding: 10px;">
		</div>
		<div class="div2">
			<h1>
				<b>@Model.product.Name</b>
			</h1>
		</div>
		<div class="div3">
			<h2>
				@Model.product.Price<b>₽</b>
			</h2>
		</div>

		<div class="div4">			
			<form method="post">
				<div class="rate">
					
					@foreach(var star in @Model.stars)
					{				
						
						if(star==@Model.rate)
						{
							<input type="radio" asp-for="Star" id="Star@(star)" value="@star" checked/> 					 
						}
						else
						{
							<input type="radio" asp-for="Star" id="Star@(star)" value="@star"/> 
						}
						<label for="Star@(star)" title="text">@star stars</label>
					}
					<input type ="submit"/>
					
				</div>
				</form>

		</div>
		<div class="div5">
			<p>
				@Model.product.Description
			</p>
		</div>
	</div>
</body>